{% extends "layout2.html" %}

{% block title %}

{% endblock %}

{% block main %}

	<!-- Intro Section -->
    <section class="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                	<i class="fa-solid fa-globe fa-xl"></i>
                    <h2 class="section-heading">Bærekraft</h2>
                    <p class="text-light">Vi i Vender jobber aktivt med bærekraft. For en nærmere utredelse av arbeidet vårt med bærekraft og menneskerettigheter -
                        <a style="color:white;"< href="/redegjorelse">klikk her.</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

	<!-- Content 1 -->
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img class="img-responsive img-circle center-block" src="{{url_for('static', filename='hardhat.jpg')}}" alt="">
                </div>
                <div class="col-sm-6">
                	<h2 class="section-header">HMS</h2>
                	<p class="lead text-muted">Vi etterstreber å gå over forventinger for å ivareta sikkerhet og helse blant våre kunder, ansatte og leverandører. For en grundig redegjøresle av arbeidet vårt med HMS.</p>
                	<a href="/redegjorelse" class="btn btn-primary btn-lg">Se rapport</a>
                </div>

            </div>
        </div>
    </section>

	<!-- Content 2 -->
     <section class="content content-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                	<h2 class="section-header">Klima</h2>
                	<p class="lead text-light">Vi ønsker et lavest mulig klimaavtrykk i vår virksomhet. Derfor jobber vi aktivt med å redusere våre utslipp samtidig som vi implementerer grønne løsninger i flere av våre prosjekter.</p>
                	<a href="#" class="btn btn-default btn-lg">Se rapport</a>
                </div>
                <div class="col-sm-6">
                    <img class="img-responsive img-circle center-block" src="{{url_for('static', filename='skog.jpg')}}" alt="">
                </div>

            </div>
        </div>
    </section>

    <!-- Promos --
	<div class="container-fluid">
        <div class="row promo">
        	<a href="#">
				<div class="col-md-4 promo-item item-1">
					<h3>
						Unleash
					</h3>
				</div>
            </a>
            <a href="#">
				<div class="col-md-4 promo-item item-2">
					<h3>
						Synergize
					</h3>
				</div>
            </a>

			<a href="#">
				<div class="col-md-4 promo-item item-3">
					<h3>
						Procrastinate
					</h3>
				</div>
            </a>
        </div>
    </div><!-- /.container-fluid -->

	<!-- Content 3 --
     <section class="content content-3">
        <div class="container">
			<h2 class="section-header"><span class="glyphicon glyphicon-pushpin text-primary"></span><br> Sanity Check</h2>
			<p class="lead text-muted">Holisticly predominate extensible testing procedures for reliable supply chains. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
                    <a href="#" class="btn btn-primary btn-lg">Check Now</a>
            </div>
        </div>
    </section>
-->
{% endblock %}