{% extends "layout.html" %}

{% block title %}
    Rapporter
{% endblock %}

{% block main %}
<section class = "content">
  <h1 align="center" style="color:yellowgreen;">Vårt arbeid med åpenhetsloven</h1>
  <div class="text-success">
    <hr>
  </div>
  <div align="center" class="offices">
    <img src="{{url_for('static', filename='FN.png')}}"
        width="70%"
    />
  </div>
  <p style="margin-left: 20px;">I forbindelse med åpenhetsloven av 2022 har vi i Vender AS gjennomført en rekke aktsomhetsvurderinger i et forsøk på å
      synliggjøre brudd på menneskerettigheter i leverandørkjeden samt å rette drift i en mer bærekraftig retning. I det følgende presenteres vår rapport for arbeidet som gjøres i forbindelse med åpenhetsloven.
  </p>
  <div align="center">
    <i class="fa-regular fa-file-pdf fa-xl"></i>
    <a href="/static/Vender.pdf">Last ned rapporten her</a>
  </div>
  </section>

{% endblock %}
